################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/project/.vs/en_szkielet_07b_win/v16/ipch/AutoPCH/154cfb188f2fe6f8/MAIN_FILE.ipch
