################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/project/.vs/en_szkielet_07b_win/v16/ipch/AutoPCH/154cfb188f2fe6f8/MAIN_FILE.ipch
/project/.vs/en_szkielet_07b_win/v16/ipch/AutoPCH/191d6fe7534e0f4a/OBJLOADER.ipch
/project/.vs/en_szkielet_07b_win/v16/Browse.VC.db-shm
/project/.vs/en_szkielet_07b_win/v16/Browse.VC.db-wal
/project/.vs/en_szkielet_07b_win/v16/Browse.VC.opendb
/.vs/graficzka/v16/Browse.VC.db
/.vs
